body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #39f070ab,#c075e2);
    min-height: 100vh;
}

h1{color: #089c84;
    font-size: 2.5em;
}

.encabezado{
    margin: auto;
    width: 400px;
    text-align: center;
    background-color: rgba(204, 149, 241, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(238, 248, 248);
}
.botones{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.boton{
    background-color: rgb(81, 236, 141);
        box-shadow: 0 4px 8px rgb(238, 248, 248);
        transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s;

}
.boton:hover{
    background-color: #087a71;
    transform: translateY(-10px);
}
.tablero{
    position: relative; /* Es importante que sea relative para que las cartas absolutas se posicionen dentro de ella */
    min-height: 100px; /* Altura mínima para que sea visible antes de repartir */
    width: 65%; /* Ancho de la mesa */
    max-width: 1200px; /* Ancho máximo para pantallas grandes */
    background: linear-gradient(to bottom, #93f8d1,#d9b3eb); /* Verde oscuro semitransparente para la mesa */
    border: 5px solid #f5efef; /* Borde marrón para la mesa */
    border-radius: 60px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    display: flex; /* Añadir flexbox para organizar las cartas como alternativa */
    justify-content: center; /* Centrar las cartas en la mesa */
    align-items:center; /* Alinear cartas al inicio verticalmente */
    flex-wrap: wrap; /* Permitir que las cartas pasen a la siguiente línea */
    gap: 10px; /* Espacio entre las cartas cuando no están superpuestas */
    padding: 40px; /* Espacio interno de la mesa */
    min-height: 100px; /* Asegura que la mesa tenga altura visible */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;}